<%= form_for(@person, html:{class:"form-horizontal"}) do |f| %>
  <% if @person.errors.any? %>
  <div class="row">
    <div class= "col-sm-9 col-sm-offset-2" id="error_explanation">

      <div class="alert alert-danger " role="alert">
        <h4><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

        <ul>
          <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>


  <div class="form-group">
    <%= f.label :first_name, class:"control-label col-sm-2 " %>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class:"control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, class:"control-label col-sm-2" %>
    <div class="col-sm-3">
      <%= f.date_field :date_of_birth, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :bio, class:"control-label col-sm-2" %>
    <div class="col-sm-6">
      <%= f.text_area :bio, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class=" col-sm-2 col-sm-offset-2">
      <%= f.check_box :active %> Active
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit class: "btn btn-info" %>
      <%= link_to 'cancel', people_path, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
